doctype
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        title
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")

        script(src="/static/script/libs/jquery-3.3.1.min.js")
        script(src="/static/script/libs/vue.js")
        script(src="/static/script/libs/vue-router.js")

        link(href="/favicon.ico" rel="icon" type="image/x-icon")
        link(rel="stylesheet",href="/static/style/page/index.css")

        if 'ONLINE' != YYPACK.ENV
            script(src="/static/script/libs/vconsole.min.js")
            script.
                var vConsole = new VConsole();


body
    #app(v-cloak)
        router-view

    script(src="/static/script/index.js")
